---
title: Data from CSV
layout: base
---

<ul class="listing">
  <li>Courses (<code>subjects.csv</code>
    and
    <code>courses.csv</code>):
    <a href="subject-listing/">Course Subjects</a>
  </li>
  <li>Jamstack Resources (<code>urls.csv</code>):
    <a href="jamstack-resources/">Jamstack Resources</a>
  </li>
</ul>